/* Navbar custom layout and font */
.navbar-custom {
    background-color: teal;
    font-family: 'Times New Roman', Times, serif;
}

body{
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
overflow-x: hidden;
display: flex;
flex-direction: column;
min-height: 100vh;
}

header{
background-color: #008080;
color: white;
padding: 10px 20px;;
top: 0;
z-index: 1000;
display: flex;
align-items: center;
}

header img{
height: 48px;
margin-right: 20px;
}

nav ul{
list-style: none;
margin: 5px;
padding: 0;
display: flex;
align-content: right;
margin-left: 0%;
align-items: end;
padding-left: 0px;
flex-grow:1;
display: flex;
justify-content: flex-start;
}

nav ul li{
margin: 0 15px;

}

nav ul li a{
color: #fff;
text-decoration: underline;
font-size: 18px;
}

nav ul li a hover{
text-decoration:  underline;
text-decoration-color: yellow;
}

footer {
background-color: teal;
color: #fff;
text-align: center;
padding: 10px 10;
margin-top: auto;
width: 100%;
height: 60px;
align-content: center;
}

section{
padding: 0px;
max-width: 0px;
margin: auto;
flex-grow: 1;
}

        section{
            padding: 20px;
            max-width: 1100px;
            margin: auto;
            flex-grow: 1;
            }

.accordion {
    margin-top: 5%;

}

.form {
    margin: 50%;
}

.accordion {
    padding-top: 3%;
    padding-left: 100px;
    padding-right: 100px;


    
}

.accordion-custom {
text-decoration-color: #fff;
text-decoration: #fff;

}

.card-img1 {
    width: 30%;
}